/************************ background ************************/

#content {
  background: #310433;
  background:linear-gradient(135deg, #310433, #A737AD);
}

/************************ nav ************************/
.bs-docs-nav .navbar-brand,
.bs-docs-nav .navbar-nav>li>a {
  color: #333333;
}
.bs-docs-nav .navbar-nav>li>a:hover,
.bs-docs-nav .navbar-nav>.active>a,
.bs-docs-nav .navbar-nav>.active>a:hover {
  color: #A737AD;
}

/************************ sidebar ************************/
.bs-docs-sidebar .nav>li>a:hover,
.bs-docs-sidebar .nav>li>a:focus {
  color: #A737AD;
}
.bs-docs-sidebar .nav>.active>a,
.bs-docs-sidebar .nav>.active:hover>a,
.bs-docs-sidebar .nav>.active:focus>a {
  border-left: 2px solid #A737AD;
  color: #A737AD;
}

/************************ masthead ************************/
.bs-docs-masthead .version {
  color: #fff;
}
.btn-outline-inverse {
  border-color: #ED56F5;
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: #A737AD;
}
