release-notes
logs
*.db
project/project
project/target
target
lib_managed
src_managed
project/boot
tmp
.history
dist
.DS_Store
.cache
.settings
.classpath
.class
.project
.ivy2
.lib
.idea
*.swp
sbt
*~
tags
_site
*.local.yml
Gemfile.lock
deploy_rsa
deploy_rsa.pub
trebuchet
*.orig
docs/src/hugo/public
.ensime*
